@model IEnumerable<Nimap_Infotech_Task.Models.CategoryMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@TempData["InsertMessage"]
@TempData["UpdateMessage"]
@TempData["DeleteMessage"]

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("BackToHome", "Index","Home")
</p>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","CategoryMaster" ,new {  CategoryId=item.CategoryId }, null) |
                @*Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { CategoryId = item.CategoryId })
            </td>
        </tr>
    }

</table>
